* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive, sans-serif;
}

section#score {
  width: 100%;
}

#board {
  width: 640px;
  height: 640px;
  margin: 1em auto;
}

#board  > div {    
  border: 1px solid black;
  float: left;
  width: 64px;
  height: 64px;
}


section#score div {
  width: 10em;
  height: 3em;
  text-align: center;
  padding: 0.5em;
  background-color: rgba(211,211,211, 0.75);
  border: 1px solid lightgray;
  border-radius: 1px;
  box-shadow: 1px 1px 5px 1px lightgray;
  margin: 1em auto;
}


.trans {
  transition: 0.3s all linear;
}

.furry {
  background-image: url('../images/furry.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.coin {
  background-image: url('../images/coin.png');
  background-repeat: no-repeat;
  background-size: cover;
}

section#over {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
  background-color: rgba(255, 255, 0, 0.75);
}

section#over pre {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: bolder;
  color: brown;
}

.invisible {
  display: none;
}
.gameover {
  background: rgba(139,0,0,0.6);
  position: absolute;
  color: white;
  width: 640px;
  height: 640px;
}
.gameover p {
  font-size: 60px;
  text-align: center;
  position: absolute;
  top: 22%;
  left: 8%;
}
.gameover p span {
  font-size: 18px;
  margin-top: 100px;
}
.gameover .yes {
  color: lawngreen;
  cursor: pointer;
}
.gameover .no {
color: red;
  cursor: pointer;
}

.choose {
  background-color: darkred;
  position: absolute;
  width: 640px;
  height: 640px;
}
.choose ul {
  margin-top: 200px;
}
.choose li {
  list-style: none;
  padding: 15px 0;
  color: white;
  text-align: center;
  border: 1px solid white;
  margin-right: 40px;
  cursor: pointer;
}
.about {
  position: absolute;
  background-color: darkred;
  width: 640px;
  height: 640px;
}
.about p {
  color: white;
  text-align: center;
  margin-top: 200px;
}
.about ul {
  margin-top: 325px;
}
.about li {
  list-style: none;
  color: white;
  border: 1px solid white;
  padding: 15px 0;
  margin-right: 40px;
  text-align: center;
  cursor: pointer;
}